@font-face {
  font-family: 'Manulife JH Sans';
  src: url('../fonts/ManulifeJHSans-Bold.eot');
  src: url('../fonts/ManulifeJHSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ManulifeJHSans-Bold.woff2') format('woff2'),
    url('../fonts/ManulifeJHSans-Bold.woff') format('woff'),
    url('../fonts/ManulifeJHSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manulife JH Sans';
  src: url('../fonts/ManulifeJHSans-Demibold.eot');
  src: url('../fonts/ManulifeJHSans-Demibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ManulifeJHSans-Demibold.woff2') format('woff2'),
    url('../fonts/ManulifeJHSans-Demibold.woff') format('woff'),
    url('../fonts/ManulifeJHSans-Demibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manulife JH Sans';
  src: url('../fonts/ManulifeJHSans-Light.eot');
  src: url('../fonts/ManulifeJHSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ManulifeJHSans-Light.woff2') format('woff2'),
    url('../fonts/ManulifeJHSans-Light.woff') format('woff'),
    url('../fonts/ManulifeJHSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manulife JH Sans';
  src: url('../fonts/ManulifeJHSans-Regular.eot');
  src: url('../fonts/ManulifeJHSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ManulifeJHSans-Regular.woff2') format('woff2'),
    url('../fonts/ManulifeJHSans-Regular.woff') format('woff'),
    url('../fonts/ManulifeJHSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manulife JH Serif';
  src: url('../fonts/ManulifeJHSerif-Italic.eot');
  src: url('../fonts/ManulifeJHSerif-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ManulifeJHSerif-Italic.woff2') format('woff2'),
    url('../fonts/ManulifeJHSerif-Italic.woff') format('woff'),
    url('../fonts/ManulifeJHSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
